<!DOCTYPE html>
<html>
<head>
	<title>beeThree - friendly marketplace</title>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="stylesheets/layout.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
	</div>

	<div class="container">
		<div class="row">
			<%= yield %>
		</div>
	</div>

</body>
</html>
